<a href="https://colab.research.google.com/github/samir-cell/fantastic-datascience-Coursera_Capstone/blob/master/Assignment_2_Segmenting_and_Clustering_Neighborhoods_in_Toronto_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 2 - Segmenting and Clustering Neighborhoods in Toronto0 - Part 2.ipynb

We can Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:bold text

**1. Download and prepare dataset**

In [0]:
import pandas as pd



> Read the table from wikipedia page and store it in data frame

In [0]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
list_df = pd.read_html(url, header = 0)
df = list_df[0]

In [3]:
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

Get rid of 'Not assigned' Boroughs

In [4]:
df = df[(df.Borough != 'Not assigned')]
print(df.shape)

(103, 3)

In [5]:
df.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

Group by Postcode and combine the Neighbourhoods with identical Postcode

In [6]:
df = df.drop_duplicates()
df.reset_index(drop = True, inplace=True)
print(df.shape)

(103, 3)

In [7]:
df.head(10)

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
5         M9A         Etobicoke                              Islington Avenue
6         M1B       Scarborough                               Malvern / Rouge
7         M3B        North York                                     Don Mills
8         M4B         East York              Parkview Hill / Woodbine Gardens
9         M5B  Downtown Toronto                      Garden District, Ryerson

Edit the names of Not assigned Neighbourhoods

In [0]:
df.Neighborhood[df['Neighborhood']=='Not assigned'] = df.Borough[df['Neighborhood']=='Not assigned']

In [9]:
print(df.shape)
df.head(10)

(103, 3)

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
5         M9A         Etobicoke                              Islington Avenue
6         M1B       Scarborough                               Malvern / Rouge
7         M3B        North York                                     Don Mills
8         M4B         East York              Parkview Hill / Woodbine Gardens
9         M5B  Downtown Toronto                      Garden District, Ryerson

# **Part 2nd start form here..**

import data with coordinates

In [0]:
df2 = pd.read_csv('https://cocl.us/Geospatial_data')
df2.rename(index=str, columns={"Postal Code": "PostalCode"}, inplace = True)

In [20]:
df2.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

Join the two dataframes

In [0]:
toronto_df = df.join(df2.set_index('PostalCode'), on='Postal code')

In [32]:
toronto_df.head(10)

  Postal code           Borough  ...   Latitude  Longitude
0         M3A        North York  ...  43.753259 -79.329656
1         M4A        North York  ...  43.725882 -79.315572
2         M5A  Downtown Toronto  ...  43.654260 -79.360636
3         M6A        North York  ...  43.718518 -79.464763
4         M7A  Downtown Toronto  ...  43.662301 -79.389494
5         M9A         Etobicoke  ...  43.667856 -79.532242
6         M1B       Scarborough  ...  43.806686 -79.194353
7         M3B        North York  ...  43.745906 -79.352188
8         M4B         East York  ...  43.706397 -79.309937
9         M5B  Downtown Toronto  ...  43.657162 -79.378937

[10 rows x 5 columns]

In [0]:
tor_df= toronto_df.rename(columns = {"Postal code": "Postalcode"})

In [40]:
tor_df.head(10)

  Postalcode           Borough  ...   Latitude  Longitude
0        M3A        North York  ...  43.753259 -79.329656
1        M4A        North York  ...  43.725882 -79.315572
2        M5A  Downtown Toronto  ...  43.654260 -79.360636
3        M6A        North York  ...  43.718518 -79.464763
4        M7A  Downtown Toronto  ...  43.662301 -79.389494
5        M9A         Etobicoke  ...  43.667856 -79.532242
6        M1B       Scarborough  ...  43.806686 -79.194353
7        M3B        North York  ...  43.745906 -79.352188
8        M4B         East York  ...  43.706397 -79.309937
9        M5B  Downtown Toronto  ...  43.657162 -79.378937

[10 rows x 5 columns]

# ** END OF 2nd PART**